
    


#container{
    position: relative;
    top: 0px;
   width: 500px;
   margin-left: auto;
   margin-right: auto;
     
}

#button1{
    width: 200px;
    height: 40px;
  position: relative;
  left: 30px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: whitesmoke;
}

#button2{
    width: 200px;   
    height: 40px;
    position: relative;
    left: 300px;
    bottom: 40px;
    border-radius: 10px;
    background-color: whitesmoke;
}   
#barra1{
    width: 500px;
    }

#button3{
    
    width: 200px;   
    height: 40px;
    position: relative;
    left: 150px;
    top: 40px;
    border-radius: 10px;
    background-color: whitesmoke;
    }

    #button4{
    
        width: 200px;   
        height: 40px;
        position: relative;
        left: 250px;
        
        border-radius: 10px;
        font-size: medium; 
        color: white; 
        background-color: rgb(0, 119, 255);
        }
    #busqueda2{
        position: relative;
        left: 180px;
        bottom: 100px;
        
        width: 500px;
        
        text-align: center;
    }
    #texto{
        padding: 8px;
        position: relative;
        top: 25px;
    }